{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle Action' %}

{% block body %}
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>Créer une action</h1>
  
      {{ include('action/_form.html.twig')}}
    </div>
  </div>


{% endblock %}  