{% extends 'base.html.twig' %}

{% block title 'Nouvelle Action' %}

{% block body %}
  <h1>Créer une action</h1>

  {{ form_start(myForm) }}
    {{ form_widget(myForm) }}

    <input type="submit" value="Créer action" formnovalidate>
  {{ form_end(myForm) }}
{% endblock %}