{% extends 'layouts/base.html.twig' %}

{% block title 'Modification d\'une Action' %}

{% block body %}

<div class="row">
  <div class="col-md-6 mx-auto">
    <h1>Modifier l'action {{action.id}}</h1>

    {{ include('action/_form.html.twig', {submitButtonText : 'Update Action'}) }}
  </div>
</div>

{% endblock %}