{% extends 'base.html.twig' %}

{% block title 'Modification d\'une Action' %}

{% block body %}
<h1>Modifier une action</h1>

{{ form_start(myForm) }}
{{ form_widget(myForm) }}

<input type="submit" value="Modifier action" formnovalidate>
{{ form_end(myForm) }}
{% endblock %}