{% extends 'layouts/base.html.twig' %}

{% block title 'Modification d\'une Action' %}

{% block body %}
<h1>Modifier une action</h1>

{{ include('action/_form.html.twig', {submitButtonText : 'Update Action'}) }}

{% endblock %}